language: ruby
cache: bundler
bundler_args: "--without production"
rvm:
- 2.7.0
before_install:
- gem install bundler:2.2.11
script:
- bundle exec rspec
deploy:
  provider: heroku
  api_key:
    secure: lRes+4fJllR5XzihmLvnQizK3wZs+7m96q9YNZxTEr+RPJicNBHdCmc3KQou/OF/y5dU/7A0Lp34EZxert1FO2BHu5RmOXjMljobvD/1jKRps0JOzxlKVki7L2XNsR9crAqZOAxmVhO6Ko8Dp5kYoMJfEsRsI8bpWIyxiR62mQixKrFIzKTRiEMfQw9a4+2l4sMxqr/CSbPdeK2P9ZS738ucxnBzcPW+shJ60PwZnNeVi+Hfn/0mZqBrDnBPn2lthL25vxkJ9bLoI6luZFu7HZp6IOQ3bzvowlnCeJc8XP9LAGA00xJl4JVJwoJE79k+JDmJ7wcVtH9hqqt4GRfujBm/FVncRmMnlqfG6HZIwY8lBOH4j4jofjQ8CEt0Ua6yjbG4j9m/ykdeJzw+3VV9ColBiFxec5+guKbw902gnXPKezLuTuNDkBgOehjb00u/i70hjELwqvk3/k1g6VUjiP9IKI3OGbsfYA/IBdQHanHuwZRI+kcqLzDOhW0No+6MAknQmAlPGvMvRQpIFqTb+0hVZQ8y2lqP8LFrL4enveA15lptkQKTgOhYpSx4i2z9hOziMHsIA2lTY+n5nK8uwdRwFHDk5bzIwcFJEm1V0j//oLc27Ot8uiXy2w5aS4Qzvuyr4c0mH0iyOSmC/J6b6IbFxZIwlwD7J3Dvf8BkgYE=
  app: fast-waters-11904
  run:
  - rake db:migrate
  - rake cleanup
  on:
    repo: zeziba/CS300
  skip_cleanup: 'true'
