<div class="box">
  <article class="media">
    <div class="media-content">
      <div class="content">
        <p>
          <% if comment.name? %>
            <strong><%= comment.name %>:</strong>
          <% else %>
            <strong>Anonymous:</strong>
          <% end %>
          <%= comment.comment %>
        </p>
      </div>
    </div>
    <% if allow_project_modify?(@project) %>
     <%= link_to 'Delete', [comment.project, comment],
                  method: :delete, class: "button is-danger", data: { confirm: 'Are you sure?' } %>
    <% end %>
  </article>
</div>