<p id="notice"><%= notice %></p>
<% content_for :title,  "Projects" %>

<h1 class="title">Projects</h1>

<div class="container-fluid">
    <%= render '/projects/table' %>
</div>

<br>

<%= link_to 'New Project', new_project_path %>
