<h1>New Project</h1>
<p> Enter in the data for the project. The data will be displayed as entered.
If a github README link is present it will be linked in the show page, and also try to generate a preview of it.
</p>
<p>
Enter each line of data as follows
</p>
<p>
{data name} {data}
</p>

<%= render 'form', project: @project %>

<%= link_to 'Back', projects_path %>
