<nav class="navbar navbar-inverse footer">
  <div class="container-fluid">
    <div class="navbar-header navbar-bottom">
      <%= link_to 'CS300 Project Projector', '/', :class => 'navbar-brand' %>
    </div>
  </div>
</nav> 